@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; /* 모든 스크롤 이동을 부드럽게 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  background: #e8e8e8;
}
