.root {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  font-family: 'Paperlogy';
  background-color: #FBEBEE;
}

.bgImage {
  position: absolute;
  top: 0; left: 0;
  width: 1919px; height: 1080px;
  background-size: cover;
  background-position: center;
  opacity: 0.48;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 79px; left: 79px;
  width: 226px; height: 58px;
  z-index: 10;
}

.tabNav {
  position: absolute;
  top: 84px; left: 0;
  width: 1920px; height: 66px;
  z-index: 10;
}

.tab {
  position: absolute;
  height: 66px;
  border-radius: 100px;
  border: 3px solid #5E3535;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Paperlogy';
  font-size: 28px;
  font-weight: 500;
  padding: 16px 27px;
  background: rgba(255, 255, 255, 0.00);
  color: #5E3535;
  white-space: nowrap;
}

.tab:nth-child(1) { left: 399px;  width: 170px; }
.tab:nth-child(2) { left: 692px;  width: 172px; }
.tab:nth-child(3) { left: 988px;  width: 170px; }
.tab:nth-child(4) { left: 1281px; width: 171px; }
.tab:nth-child(5) { left: 1575px; width: 211px; }

.tabActive {
  background: #ffffff;
  color: #FF68A7;
  border-color: #FF68A7;
}

.pinkEffect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  pointer-events: none;
  z-index: 15;
}
